<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:22px">

        <nav>
            <ul class="pagination">
                @foreach (var link in links)
                {
                    <li @onclick=@(() => InternalSelectedPage(link)) style="cursor: pointer" class="page-item @(link.Enable ? null : "disabled") @(link.Enable ? "active" : null)">
                        <a class="page-link">@link.Text</a>
                    </li>
                }
                <li class="mx-2">
                    <select class="form-select custom-select" @onchange="InternalRecordsNumberSelected">
                        @foreach (var option in recordsNumber)
                        {
                            <option value="@option.Value">@option.Name</option>
                        }
                    </select>
                </li>
            </ul>
        </nav>
    </div>
</div>







