<MudDialog TitleClass="dialog-background-title">
    <TitleContent>
        <div class="d-flex justify-content-md-start gap-2 align-items-center">
            <MudAvatar Color="Color.Primary" Variant="Variant.Outlined">
                <MudIcon Icon="@Icons.Material.Filled.Person" Style="color: white;" />
            </MudAvatar>
            <MudText Typo="Typo.h6">Lista General de Visitas </MudText>
        </div>
    </TitleContent>
    <DialogContent>
        @if (loading)
        {
            <MudProgressCircular Size="Size.Large" />
        }
        else
        {
            <MudGrid Class="mb-12">
                <MudItem xs="12">
                    <MudTable Items="@visitors"
                              @ref="tableV"
                              ServerData="@(new Func<TableState, Task<TableData<VisitorEntry>>>(LoadAllVisitorEntry))"
                              Dense="true"
                              Hover="true"
                              Striped="true"
                              FixedHeader="true"
                              FixedFooter="true">
                        <HeaderContent>
                            <MudTh>Nombre</MudTh>
                            <MudTh>Placa</MudTh>
                            <MudTh>Fecha</MudTh>
                            <MudTh>Estado</MudTh>
                            <MudTh>Acciones</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Nombre">@context.Name</MudTd>
                            <MudTd DataLabel="Placa">@context.Plate</MudTd>
                            <MudTd DataLabel="Fecha">@context.DateTime.ToString("dd/MM/yyyy")</MudTd>
                            <MudTd DataLabel="Estado">@EnumExtensions.GetEnumDescription(context.Status)</MudTd>
                            <MudTd DataLabel="Acciones">
                                @if (context.Status != VisitorStatus.Canceled && context.DateTime >= DateTime.Now.AddDays(-1))
                                {
                                    @* <MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.Edit" Color="Color.Warning">Editar</MudButton> *@
                                    <MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Filled.Cancel" Color="Color.Error" OnClick="() => CancelVisitorEntry(context)">Cancelar</MudButton>
                                }
                            </MudTd>
                        </RowTemplate>
                        <NoRecordsContent>
                            <MudText>No se encontraron registros.</MudText>
                        </NoRecordsContent>
                    </MudTable>
                </MudItem>
            </MudGrid>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Outlined"
                   StartIcon="@Icons.Material.Filled.ArrowBack"
                   Color="Color.Info" OnClick="Return">
            Regresar
        </MudButton>
    </DialogActions>
</MudDialog>
