@page "/myApartment/{ApartmentId:int}"

@if (loading)
{
    <Loading />
}
else
{
    <MudCard Class="w-100">
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudAvatar Color="Color.Primary" Variant="Variant.Outlined">
                    <MudIcon Icon="@Icons.Material.Filled.House" />
                </MudAvatar>
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Mi Apartamento</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent>
            <MudGrid Class="mb-12">
                <MudItem xs="12" md="5">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Style="height: 100%;">
                        @if (users != null && users.Any())
                        {
                            <MudGrid>
                                @foreach (var user in users)
                                {
                                    <MudItem xs="12" sm="12" md="12">
                                        <MudContainer Class="custom-card">
                                            <div class="d-flex align-center">
                                                <MudAvatar Size="Size.Large" Class="mr-3">
                                                    <MudImage Src="@user.Photo"></MudImage>
                                                </MudAvatar>
                                                <div>
                                                    <MudText Typo="Typo.h6">@user.FullName</MudText>
                                                    <MudText Typo="Typo.body2">@user.UserName</MudText>
                                                    <MudText Typo="Typo.body2">@user.PhoneNumber</MudText>
                                                </div>
                                            </div>
                                        </MudContainer>
                                    </MudItem>
                                }
                            </MudGrid>
                        }
                        else
                        {
                            <MudText>No se encontraron registros.</MudText>
                        }
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" md="7">
                    <MudGrid>
                        <MudItem xs="12">
                            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
                                <MudCard Style="width: 95%; height: 95%;">
                                    <MudCardHeader>
                                        <CardHeaderAvatar>
                                            <MudAvatar Color="Color.Dark" Variant="Variant.Outlined">
                                                <MudIcon Icon="@Icons.Material.Filled.Pets" />
                                            </MudAvatar>
                                        </CardHeaderAvatar>
                                        <CardHeaderContent>
                                            <MudText Typo="Typo.h6">Mis Mascotas</MudText>
                                        </CardHeaderContent>
                                    </MudCardHeader>
                                    <MudCardContent>
                                        <MudTable Items="@pets"
                                                  @ref="tableP"
                                                  ServerData="@(new Func<TableState, Task<TableData<Pet>>>(LoadPetAsync))"
                                                  Dense="true"
                                                  Hover="true"
                                                  Striped="true"
                                                  FixedHeader="true"
                                                  FixedFooter="true">
                                            <HeaderContent>
                                                <MudTh>Nombre</MudTh>
                                                <MudTh>Raza</MudTh>
                                                <MudTh>Foto</MudTh>
                                            </HeaderContent>
                                            <RowTemplate>
                                                <MudTd DataLabel="Nombre">@context.Name</MudTd>
                                                <MudTd DataLabel="Raza">@context.Breed</MudTd>
                                                <MudTd DataLabel="Imagen">
                                                    <MudImage Src="@context.Picture" style="width:100px;" />
                                                </MudTd>
                                            </RowTemplate>
                                            <NoRecordsContent>
                                                <MudText>No se encontraron registros.</MudText>
                                            </NoRecordsContent>
                                        </MudTable>
                                    </MudCardContent>
                                </MudCard>
                            </MudPaper>
                        </MudItem>
                        <MudItem xs="12">
                            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
                                <MudCard Style="width: 95%; height: 95%;">
                                    <MudCardHeader>
                                        <CardHeaderAvatar>
                                            <MudAvatar Color="Color.Dark" Variant="Variant.Outlined">
                                                <MudIcon Icon="@Icons.Material.Filled.DirectionsCar" />
                                            </MudAvatar>
                                        </CardHeaderAvatar>
                                        <CardHeaderContent>
                                            <MudText Typo="Typo.h6">Mis Vehiculos</MudText>
                                        </CardHeaderContent>
                                    </MudCardHeader>
                                    <MudCardContent>
                                        <MudTable Items="@vehicles"
                                                  @ref="tableV"
                                                  ServerData="@(new Func<TableState, Task<TableData<Vehicle>>>(LoadVehiclesAsync))"
                                                  Dense="true"
                                                  Hover="true"
                                                  Striped="true"
                                                  FixedHeader="true"
                                                  FixedFooter="true">
                                            <HeaderContent>
                                                <MudTh>Placa</MudTh>
                                                <MudTh>Tipo</MudTh>
                                                <MudTh>Descripción</MudTh>
                                            </HeaderContent>
                                            <RowTemplate>
                                                <MudTd DataLabel="Placa">@context.Plate</MudTd>
                                                <MudTd DataLabel="Tipo">@context.Type</MudTd>
                                                <MudTd DataLabel="Descripcion">@context.Description</MudTd>
                                            </RowTemplate>
                                            <NoRecordsContent>
                                                <MudText>No se encontraron registros.</MudText>
                                            </NoRecordsContent>
                                        </MudTable>
                                    </MudCardContent>
                                </MudCard>
                            </MudPaper>
                        </MudItem>
                    </MudGrid>
                </MudItem>
            </MudGrid>
        </MudCardContent>
        <MudCardActions>
            <MudGrid Class="mb-4">
                <MudItem xs="12" sm="4" Class="d-flex justify-content-center">
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Event" Color="Color.Primary" ButtonType="ButtonType.Submit" FullWidth="true">
                        Eventos
                    </MudButton>
                </MudItem>
                <MudItem xs="12" sm="4" Class="d-flex justify-content-center">
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Bungalow" Color="Color.Info" FullWidth="true">
                        Reservar Zona Comun
                    </MudButton>
                </MudItem>
                <MudItem xs="12" sm="4" Class="d-flex justify-content-center">
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.EmojiPeople" Color="Color.Tertiary" FullWidth="true" OnClick="ScheduleVisitorModal">
                        Programar Visitante
                    </MudButton>
                </MudItem>
            </MudGrid>
        </MudCardActions>
    </MudCard>
}


